<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192447244106-bp9cftj5gu666q2hatdm0ce1mctm94h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192447244106-bp9cftj5gu666q2hatdm0ce1mctm94h0</string>
	<key>API_KEY</key>
	<string>AIzaSyBdM7ps_GIR751loruaDPYFww_AbuRP8Mc</string>
	<key>GCM_SENDER_ID</key>
	<string>192447244106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stepper.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>stepper-3a9fe</string>
	<key>STORAGE_BUCKET</key>
	<string>stepper-3a9fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192447244106:ios:29d844502cd1153fda03b3</string>
</dict>
</plist>